# Entorno virtual
venv/
env/
ENV/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Base de datos
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.log
